.demo_div {
    border:2px solid;
    border-radius:25px;
    width:100px;
    height:100px;
    text-align:center;
    line-height:100px;    
}


#color_change_div {
    background:red;
    animation:red_to_yellow 5s;
    animation-iteration-count: infinite;
    -webkit-animation:red_to_yellow 5s; /* Safari and Chrome */   
}


@keyframes red_to_yellow {
from {background:red;}
to {background:yellow;}
}

/* Safari and Chrome */
@-webkit-keyframes red_to_yellow {
from {background:red;}
to {background:yellow;}
}

/****End color change*****/

#color_change_div_with_procent {
    background:red;
    animation:color_shift 10s;
    animation-iteration-count: infinite;
    -webkit-animation:color_shift 10s; /* Safari and Chrome */   
}


@keyframes color_shift {
0%   {background:#686868 ;}
100% {background:#FFFFFF;}
}

/* Safari and Chrome */
@-webkit-keyframes color_shift {
0%   {background:#686868 ;}
100% {background:#FFFFFF;}
}

/****End color change*****/

/****End color change*****/

.fade_in {
    opacity:0;
    animation:invisible_to_visible 5s;
    animation-iteration-count: infinite;
    -webkit-animation:invisible_to_visible 5s; /* Safari and Chrome */   
}


@keyframes invisible_to_visible {
from {opacity:0;}
to {opacity:1.0;}
}

/* Safari and Chrome */
@-webkit-keyframes invisible_to_visible {
from {opacity:0;}
to {opacity:1.0;}
}

/*  end fade in  */

.fade_out {
    opacity:1.0;
    animation:visible_to_invisible 5s;
    animation-iteration-count: infinite;
    -webkit-animation:visible_to_invisible 5s; /* Safari and Chrome */   
}


@keyframes visible_to_invisible {
from {opacity:1.0;}
to {opacity:0;}
}

/* Safari and Chrome */
@-webkit-keyframes visible_to_invisible {
from {opacity:1.0;}
to {opacity:0;}
}

/*end fade out*/


.with_box_shadow {
    box-shadow: 10px 10px 5px #888888;  
}

/* end box shadow*/

.moving_around {
position:relative;
animation:moving_around_animation 5s infinite;
animation-direction: alternate;
-webkit-animation:moving_around_animation 5s infinite; /* Safari and Chrome */    
}

@keyframes moving_around_animation{
0%   {left:0px; top:0px;}
25%  {left:100px; top:0px;}
50%  {left:100px; top:100px;}
75%  {left:0px; top:100px;}
100% {left:0px; top:0px;}
}

/* Safari and Chrome */
@-webkit-keyframes moving_around_animation {
0%   {left:0px; top:0px;}
25%  {left:100px; top:0px;}
50%  {left:100px; top:100px;}
75%  {left:0px; top:100px;}
100% {left:0px; top:0px;}
}


/*end moving around*/

.scroll_text {
position:relative;
animation:scroll_text_animation 2s infinite;
animation-timing-function:linear;
-webkit-animation:scroll_text_animation 5s infinite; /* Safari and Chrome */    
}

@keyframes scroll_text_animation{
0% {left:200px; top:0px;}
100%   {left:-150px; top:0px;}
}

/* Safari and Chrome */
@-webkit-keyframes scroll_text_animation {
0% {left:200px; top:0px;}
100%   {left:0px; top:0px;}
}

/* end scroll*/

.change_font_size {
font-size:100%;
position:absolute;
animation:change_font_size_animation 5s infinite;

-webkit-animation:change_font_size_animation 5s infinite; /* Safari and Chrome */    
}

@keyframes change_font_size_animation{
0% {font-size:100%;}
100%   {font-size:500%;}
}

/* Safari and Chrome */
@-webkit-keyframes change_font_size_animation {
0% {font-size:100%;}
100%   {font-size:500%;}
}

/* end change font*/


.text_puff {
font-size:100%;
animation:text_puff_animation 5s infinite;
position:absolute;
text-shadow: 2px 2px #888888;
-webkit-animation:text_puff_animation 5s infinite; /* Safari and Chrome */    
}

@keyframes text_puff_animation{
0% {font-size:100%;opacity:1.0;}
100%   {font-size:1000%;opacity:0;}
}

/* Safari and Chrome */
@-webkit-keyframes text_puff_animation {
0% {font-size:100%;opacity:1.0}
100%   {font-size:1000%;opacity:0;}
}


/****************** Transitions ***************/

.hover {   
    transition:width 2s, height 2s;
    -webkit-transition:width 2s, height 2s; /* Safari */
}

.hover:hover {
    width:300px;
    height:300px;
}

.mouse_down {   
    transition:width 2s, height 2s;
    -webkit-transition:width 2s, height 2s; /* Safari */
}

.mouse_down:active {
    width:300px;
    height:300px;
}


.rotate {
    opacity:0.1;
    /* Firefox */
    -moz-transition: all 5s ease;
    /* Standard */
    transition: all 5s ease;
    
}

.rotate:active {
    opacity: 1;
    /* Firefox */
    -moz-transform: scale(2) rotate(359deg);
    /* Standard */
    transform: scale(2) rotate(359deg);
    z-index: 1000;
}


/* card flip*/

#card_container {
  position: relative;
  margin: 10px auto;
  width: 100px;
  height: 100px;
  z-index: 1;
  perspective: 1000;
}


#card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#card_container:active #card {
  transform: rotateY(180deg);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
}
.face.back { 
  transform: rotateY(180deg);
}


.face > p {
    margin-top: 0px; margin-bottom: 0px;
}

/*end card flip*/

/* click with flip*/

#click_card_container {
  position: relative;
  margin: 10px auto;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.click_card_front {}

.click_card_back {
     
}

#click_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
.click_card_back #click_card {
  transform: rotateY(180deg);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
}
.face.back { 
  transform: rotateY(180deg);
}


/* end click with flip*/

/* rotate and fade */

#rotate_and_fade_container {
  position: relative;
  left:100px;
  margin: 10px auto;
  width: 100px;
  height: 100px;
  z-index: 1;
}

#div1{
  left:20px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}

#rotate_and_fade_container:active #div1 {
  transform: rotateY(60deg) translate(-40px,0px);
  opacity: 0;
}

#div2{
  left:100px;
  transform: rotateY(-60deg);
  opacity: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}

#rotate_and_fade_container:active #div2 {
  transform: rotateY(0deg) translate(-20px,0px);
  opacity: 1.0;
}

/*
#rotate_and_fade_container:active #rotate_and_fade {
  transform: rotateY(60deg) translate(-200px,0px);
  opacity: 0;
  left : 200px;
}



#rotate_and_fade .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
}
#rotate_and_fade .face.back { 
  transform: rotateY(-60deg);
}
*/

/* end rotate and fade */